# Flask Configuration
FLASK_SECRET_KEY=your-very-secret-key-here-make-it-strong

# Email Configuration (GMAIL)
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=true
MAIL_USERNAME=your-email@gmail.com
MAIL_PASSWORD=your-app-password-here
MAIL_DEFAULT_SENDER=your-email@gmail.com
MAIL_DEBUG=false

# Database Configuration
MONGODB_URI=your-mongodb-connection-string
